@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-rounded-gradient {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 9999px;
  background: linear-gradient(to right, #129dc0, #123253);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s ease;
}
.btn-rounded-gradient:hover {
  opacity: 0.9;
}
