@import "tailwindcss";

.admin-container h1 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #123253;
    padding: 20px 0 0 20px;
}

.admin-dashboard {
    box-sizing: border-box;
    width: 90vw;
    margin: auto;
    justify-content: space-evenly;
    display: flex;
    flex-flow: row nowrap;
    align-content: stretch;
    height: 100vh;
}

.dash-column {
    flex-basis: 45em;
    margin: 0 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.module {
    flex-basis: 75em;
    border-radius: 15px;
    box-shadow: 0 4px 4px 4px #BFBFBF;
    padding: 20px;
    margin: 1rem 0;
}

.module h2 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #123253;
    padding: 10px 20px;
}

.analytics {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.analytics h4 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #123253;
    padding: 10px 20px;
    text-align: center;
}

.reloadData {
    padding: 12px 24px;
    margin: 0 10px;
    align-self: center;
    background-color: #129DC0;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.frequent-queries {
    padding: 5px 20px;
}

.frequent-queries li {
    padding: 5px 10px;
    margin: 5px 0px;
    border: 1px solid grey;
    border-radius: 15px;
    font-family: "Open Sans", sans-serif;
}

.fileDrop {
    border-width: 2px;
    border-color: #7F7F7F;
    height: 60%;
    margin: auto;
    max-width: 90%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.fileList {
    max-height: 50rem;
    padding: 5px
}

.fileList p {
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.upload {
    margin: 10px auto;
    width: fit-content;
}

.upload button {
    padding: 12px 24px;
    margin: 0 10px;
    align-self: center;
    background-color: #129DC0;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.rating-filter {
    padding: 10px;
    box-shadow: 0 4px 2px -1px #BFBFBF;
}

.rating-filter label {
    padding: 0 10px 0 5px;
}

.query-display {
    height: 15rem;
    overflow: auto;
}

.query-display li {
    padding: 10px;
    border-radius: 0;
    border-width: 0 0 2px 0;
}
